---
import Layout from "../layouts/Layout.astro";
import { meta } from "../consts";
import StardustOverlay from "../components/StardustOverlay.astro";
import HeroSection from "../components/HeroSection.astro";
import TechStackSection from "../components/TechStackSection.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import EducationSection from "../components/EducationSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<StardustOverlay duration={2500} />

<Layout title={meta.about.title} description={meta.about.description}>
  <HeroSection />
  <TechStackSection />
  <FeaturedProjects />

  <!-- Work Experience & Education -->
  <div class="mt-20 flex flex-col gap-12 lg:mt-32 lg:gap-20">
    <ExperienceSection />
    <EducationSection />
  </div>

  <ContactSection />
</Layout>

<script>
  // Smooth scroll to contact section on page load if hash is #contact
  if (window.location.hash === "#contact") {
    document.getElementById("contact")?.scrollIntoView({ behavior: "smooth" });
  }
</script>
