---
import ThemeSwitch from "./ThemeSwitch.astro";
import { header } from "../consts.ts";

const navItems = [
  { href: "/#", label: "About" },
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
  { href: "/#contact", label: "Contact" },
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<header
  class="bg-base-300/30 sticky top-0 z-50 flex items-center justify-between p-4 backdrop-blur-md"
>
  <a
    href="/cv"
    class="flex items-center transition-opacity hover:opacity-80"
    title="View CV"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="text-accent"
    >
      <path
        d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
      ></path>
      <polyline points="14 2 14 8 20 8"></polyline>
      <line x1="16" y1="13" x2="8" y2="13"></line>
      <line x1="16" y1="17" x2="8" y2="17"></line>
      <line x1="10" y1="9" x2="8" y2="9"></line>
    </svg>
  </a>

  <nav class="flex gap-4">
    {
      navItems.map((item) => {
        const isActive =
          item.href === pathname || item.href === "/" + (subpath?.[0] || "");

        return (
          <a
            href={item.href}
            class={`link font-medium ${isActive ? "link-primary" : ""}`}
          >
            {item.label}
          </a>
        );
      })
    }
  </nav>

  <ThemeSwitch />
</header>
